@inherits LayoutComponentBase
@using CAO.Admin.Services
@inject CustomAuthStateProvider AuthStateProvider
@inject NavigationManager Navigation

<div class="page">
    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <button class="btn btn-link" @onclick="Logout">Logout</button>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        await AuthStateProvider.Logout();
        Navigation.NavigateTo("/login");
    }
}
