@page "/admin/message"
@attribute [Authorize]

<PageTitle>CodeArt.Online - 留言管理</PageTitle>

<div class="breadcrumbs text-sm">
    <ul>
        <li><a href="/admin">后台</a></li>
        <li>留言管理</li>
    </ul>
</div>