@page "/admin/post"
@attribute [Authorize]
@inject BlogService blogService;

<PageTitle>CodeArt.Online - 文章管理</PageTitle>

<div class="breadcrumbs text-sm">
    <ul>
        <li><a href="/admin">后台</a></li>
        <li>文章管理</li>
    </ul>
</div>

<div class="mb-4">
    <a class="btn" href="/admin/post/editor">撰写新文章</a>
</div>

@if (loading)
{
    <Loading message="正在加载博客文章..." />
}
else if (blogs is null)
{
    <Alert type="error" message="服务器暂不可用，过会再来看看吧 ;-;" />

}
else if (blogs.Count == 0)
{
    <Alert type="info" message="暂时还没有博客文章，要不写一篇？>-<" />
}
else
{
    <Collection icon="article" name="博客文章" totalCount="@blogs.Count" pageSize="5" unit="篇" elementFactory="blogFactory" />
}

@code {
    Func<int, int, int, RenderFragment> blogFactory =>
        (index, pageSize, totalCount) =>
        @<div>
            <BlogListItem Blog="blogs![index-1]" />
            @if (index % pageSize != 0 && index != totalCount)
            {
                    <div class="divider m-0"></div>
            }
        </div>;
    bool loading = true;
    List<BlogListItemDto>? blogs;
    protected override async Task OnInitializedAsync()
    {
        blogs = (await blogService.GetBlogListAsync())
        ?.OrderByDescending(blog => -blog.Id).ToList();
        loading = false;
    }
}