@page "/admin/visitor"
@attribute [Authorize]

<PageTitle>CodeArt.Online - 访客管理</PageTitle>

<div class="breadcrumbs text-sm">
    <ul>
        <li><a href="/admin">后台</a></li>
        <li>访客管理</li>
    </ul>
</div>