@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager

@if (isAuthenticated)
{
    @if (navigationManager.Uri.EndsWith("/admin") || navigationManager.Uri.EndsWith("/admin/"))
    {
        <button class="btn btn-ghost px-2"
            @onclick="async () => await ((CustomAuthStateProvider)authenticationStateProvider).Logout()"
        >
            注销
        </button>
    }
    else
    {
        <a class="btn btn-ghost px-2" href="/admin">
            后台
        </a>
    }
}
else
{
    <a class="avatar" href="/login">
        <div class="w-10 rounded">
            <img src="/images/avatars/0.png" />
        </div>
    </a>
}

@code {
    bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        authenticationStateProvider.AuthenticationStateChanged += async _ => await UpdateAuthState();
        await UpdateAuthState();
    }

    private async Task UpdateAuthState()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity?.IsAuthenticated ?? false;
        StateHasChanged();
    }
}