<div class="py-8 bg-base-200 rounded-field w-full flex flex-col items-center gap-4">
    <div class="w-28 h-28 bg-red-400 mask mask-heart animate-bounce">
    </div>
    <p class="text-center px-8">
        🚧博客施工中🚧<br />
        敬请期待
    </p>
</div>