@foreach (var tag in Tags)
{
    <a href="/tag?tag=@tag" class="badge gap-1 hover:text-error">
        <Icon name="tag" class="w-4" />
        @tag
    </a>
}

@code {
    [Parameter]
    public IEnumerable<string> Tags { get; set; } = [];
}