<label class="toggle w-12 h-7 text-base-content">
    <input id="theme-switch" type="checkbox" class="theme-controller" />
    <Icon name="sun" class="w-5" />
    <Icon name="moon" class="w-5" />
</label>

<script>
    const input = document.getElementById("theme-switch");
    input.checked = (localStorage.getItem("theme") === "dark");
    input.addEventListener("change", (event) => {
        const theme = (input.checked ? "dark" : "cupcake");
        document.documentElement.setAttribute("data-theme", theme);
        localStorage.setItem("theme", theme);
    });
</script>