@page "/admin"
@attribute [Authorize]
@using CAO.Shared.Dtos;

@inject AuthenticationStateProvider AuthProvider
@inject BlogService blogService;

<div class="flex flex-col gap-y-4">

    <h1>后台管理</h1>

    <button class="btn btn-ghost self-start" @onclick="Logout">
        Logout
    </button>

    @if (loading)
    {
        <Loading message="正在加载推荐文章..." />
    }
    else if (blogs is null)
    {
        <Alert type="error" message="服务器暂不可用，过会再来看看吧 ;-;" />

    }
    else if (blogs.Count == 0)
    {
        <Alert type="info" message="暂时还没有博客文章，要不写一篇？>-<" />
    }
    else
    {
        <Collection icon="article" name="博客文章" totalCount="@blogs.Count" pageSize="5" unit="篇"
            elementFactory="blogFactory" />
    }

</div>

@code {
    Func<int, int, int, RenderFragment> blogFactory =>
    (index, pageSize, totalCount) =>
    @<div>
        <BlogListItem Blog="blogs![index-1]" />
        @if (index % pageSize != 0 && index != totalCount)
        {
                <div class="divider m-0"></div>
        }
    </div>;

bool loading = true;
List<BlogListItemDto>? blogs;
protected override async Task OnInitializedAsync()
{
blogs = (await blogService.GetBlogListAsync())
?.OrderByDescending(blog => -blog.Id).ToList();
loading = false;
}
}



@code {
    private async Task Logout()
    {
        await ((CustomAuthStateProvider)AuthProvider).Logout();
    }
}